<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?if $(var.InstallerPlatform) = "x86"                                                              ?>
  <?define BIN         = "..\..\Binary\Windows\Win32\$(var.Configuration)"                           ?>
  <?define BINOPENSSL  = "..\..\Externals\OpenSSL\Binary\openssl\Windows\Win32\$(var.Configuration)" ?>
  <?endif                                                                                            ?>
  <?if $(var.InstallerPlatform) = "x64"                                                              ?>
  <?define BIN         = "..\..\Binary\Windows\x64\$(var.Configuration)"                             ?>
  <?define BINOPENSSL  = "..\..\Externals\OpenSSL\Binary\openssl\Windows\x64\$(var.Configuration)"   ?>
  <?endif                                                                                            ?>

  <?if $(var.InstallerPlatform)           = "x86"                                          ?>
  <?define PACKAGEID                      = "E61D0B6C-6ABF-437A-9C3C-DB956B58DAD0"         ?>
  <?define GUID_Aladdin.CAPI.COM.dll      = "CEEC66D5-087C-40C7-AC60-E3FCCA3C90F5"         ?>
  <?define GUID_Aladdin.CAPI.SO.dll       = "064F9833-BCC5-4B14-BC34-38ADD064F70A"         ?>
  <?endif                                                                                  ?>
  <?if $(var.InstallerPlatform)           = "x64"                                          ?>
  <?define PACKAGEID                      = "96A195C6-F994-41EF-BFD3-563651233AFB"         ?>
  <?define GUID_Aladdin.CAPI.COM.dll      = "5FD722C2-BD3D-474C-AF9F-32822868918D"         ?>
  <?define GUID_Aladdin.CAPI.SO.dll       = "2959F9CB-71D4-4E1C-9EDF-BA3EBEFEDCD9"         ?>
  <?endif                                                                                  ?>

  <Module Id="CAPI" Language="1033" Version="$(var.VERSION)">
    <Package Id="$(var.PACKAGEID)" InstallerVersion="300" Manufacturer="Aladdin R.D." Description="CAPI Library" InstallScope="perUser"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder">
        <Directory Id="Aladdin" Name="Aladdin">
          <Directory Id="CAPI" Name="CAPI">
            <Directory Id="Platform" Name="$(var.InstallerPlatform)">
              <Directory Id="INSTALLDIR" Name="$(var.VERSION)">
                <Component Id="Aladdin.CAPI.COM.dll" Guid="$(var.GUID_Aladdin.CAPI.COM.dll)"  SharedDllRefCount="yes">
                  <File Name="Aladdin.CAPI.COM.dll" Source="$(var.BIN)\Aladdin.CAPI.COM.dll" KeyPath="no" DiskId="1" />
                </Component>
                <Component Id="Aladdin.CAPI.COM.reg" Guid="$(var.CLSID_CAPI_COM)" SharedDllRefCount="yes">
                  <RegistryValue Root="HKCU" Key="Software\Classes\Aladdin.CAPI.COM.Dispatcher.$(var.VERSION)"                          Type="string" Value="Aladdin.CAPI.COM.Dispatcher.$(var.VERSION)" KeyPath="yes" />
                  <RegistryValue Root="HKCU" Key="Software\Classes\Aladdin.CAPI.COM.Dispatcher.$(var.VERSION)\CLSID"                    Type="string" Value="{$(var.CLSID_CAPI_COM)}"                    KeyPath="no"  />
                  <RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{$(var.CLSID_CAPI_COM)}"                                       Type="string" Value="Aladdin.CAPI.COM.Dispatcher.$(var.VERSION)" KeyPath="no"  />
                  <RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{$(var.CLSID_CAPI_COM)}\InprocServer32"                        Type="string" Value="[INSTALLDIR]Aladdin.CAPI.COM.dll"           KeyPath="no"  />
                  <RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{$(var.CLSID_CAPI_COM)}\InprocServer32"  Name="ThreadingModel" Type="string" Value="Both"                                       KeyPath="no"  />
                  <RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{$(var.CLSID_CAPI_COM)}\ProgId"                                Type="string" Value="Aladdin.CAPI.COM.Dispatcher.$(var.VERSION)" KeyPath="no"  />
                </Component>
                <Component Id="Aladdin.CAPI.SO.dll" Guid="$(var.GUID_Aladdin.CAPI.SO.dll)" SharedDllRefCount="yes">
                  <File Name="Aladdin.CAPI.SO.dll" Source="$(var.BIN)\Aladdin.CAPI.SO.dll"    KeyPath="yes" DiskId="1" />
                  <File Name="libcrypto-3.dll"     Source="$(var.BINOPENSSL)\libcrypto-3.dll" KeyPath="no"  DiskId="1" />
                  <File Name="capi.dll"            Source="$(var.BINOPENSSL)\capi.dll"        KeyPath="no"  DiskId="1" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>

